* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 50px 0;
  background-color: #372C2E; /*Color alternatives: 1.996a2e  2. 946119 */
  color: white;
  border-bottom: 3.5px solid #B9692A; /*Alternatives: #D9954E*/
  z-index: 2;
}

/*@font-face {
    font-family: 'IBM Plex Mono';
    src: url('egne-prosjekter/sela.com/fonts/IBMPlexMono-Regular.eot');
    src: url('egne-prosjekter/sela.com/fonts/IBMPlexMono-Regular.eot?#iefix') format('embedded-opentype'),
         url('egne-prosjekter/sela.com/fonts/IBMPlexMono-Regular.woff2') format('woff2'),
         url('egne-prosjekter/sela.com/fonts/IBMPlexMono-Regular.woff') format('woff'),
         url('egne-prosjekter/sela.com/fonts/IBMPlexMono-Regular.ttf')  format('truetype'),
         url('egne-prosjekter/sela.com/fonts/IBMPlexMono-Regular.svg#IBM Plex Mono') format('svg');*/
}
.menu {
  display: flex;
  color: white;
  width: 50%;
  justify-content: center;
}

.menu-links {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.menu-links li {
  font-family: 'Amiri', serif;;
  font-size: 60px;
  font-weight: 300;
}


.menu-element {
  display: inline;
  margin-left: 50px;
  margin-right: 40px;
  color: white;
  padding: 0 15px;
}

.menu-element a {
  color: white;
}

.menu-element a:link {
  color: white;
  text-decoration: 0.7px solid underline;
}

.menu-element a:hover {
  color: #D9954E;
}

.body-container {
  display: flex;
  position: relative;
  z-index: 1;
  justify-content: center;
  background-color: #c9a176;
  padding-top: 255px;
}

.body {
  display: flex;
  justify-content: center;
  font-family: 'montserrat';
  color: black;
  width: 1000px;
  background-color: #c9a176 ;
  font-size: 20px;
  flex-wrap: wrap;
}

.article{
  padding-bottom: 30px;
}

.article p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 80px;
  margin-bottom: 10px;
}

.article-break {
  size: 3px solid black;
}
.article-image {
  float: left;
  height: 280px;
  width: 413px;
  border: 2px solid black;
  margin-right: 25px;
  margin-bottom: px;
}

.article-image:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.3s;
}


.article-break {
 size: 2px;
 color: black;
}

.gallery-container {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.banner-article {
  font-size: 30;
}


.image-container {
  width: 100%;
  height: 100%;
  margin: 20px 20px;
  border: 5px solid black;
  background-color: black;
}

.gallery-image {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  background-position: center;
  height: auto;
  cursor: pointer;
  transition: 0.3s;
}

/*#index-gallery .img1 {
  grid-area: img1;
  background-image: url(images/DSCF1626-small.jpg)
}*/



.gallery-image:hover {
    opacity: 0.8;
    transform: scale(1.02);
}

.footer {
  background-color: #372C2E;
  display: flex;
  padding-top: 10px;
  justify-content: space-around;
  color: white;
  font-family: "Amiri", serif;
  border-top: 4px solid #D9954E;

}

.footer-item {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 15px;
}

.item-one {
  flex: 1;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 100;
  padding-left: 22px;
  align-self: flex-end;
}

.item-two {
  display: flex;
  flex: 2;
  justify-content: center;
}

.item-three {
  flex: 1;
  color: white;
  align-self: flex-end;
}

.item-three h6 {
  font-size: 14px;
  font-weight: 100;
}

.avatar {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
